<div class="col-12 mt-4 text-center">
  <h2>BodyCheck ユーザー一覧</h2>
    <%= form_tag(users_path, :method => "get") do %>
    <%= text_field_tag :search %> 
    <%= submit_tag "検索" ,:name => nil ,class: "btn  btn-outline-primary btn-sm"%> 
    <% end %> 
</div>

<div class="col-12">
  
<%= render 'users', users: @users %> 
</div>