.heading p {
  margin-top: 100px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  text-align: center;
  opacity: 0.5;
}

footer {
  height: auto;
  width: 100%;
  a {
  text-align: center;
  display: block;
  color: #AAAAAA;

  }
}
  
ul.flex-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: black;
}
ul.flex-list a:hover {
  color: #BB0000;
  text-decoration: none;
  opacity: 0.7;
}
li.flex_item {
  flex: auto;
  width: 25%;
}
