.chat-main {
  margin: 0;
  padding: 40px 0;
  background-color: #D7EEFF;
}
.chat-container {
  padding: 32px;
}
.chats {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chats li {
  display: flex;
  align-items: baseline;
}
.chat-icon {
  width: 80px;
  text-align: center;
}
.chat-icon img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
}
.chat-message {
  font-size: 17px;
  background: #fff;
  border-radius: 10px;
  padding: 16px 24px;
  max-width: 50%;
  line-height: 2;
  position: relative;
}
li.right-side {
  flex-direction: row-reverse;
}
.chat-message::before {
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  position: absolute;
}
.left-side .chat-message::before {
  top: 12px;
  left: -16px;
  border-right-color: #FFF;
}
.right-side .chat-message::before {
  top: 12px;
  right: -16px;
  border-left-color: #FFF;
}

.left-side .chat-icon {
  margin-right: 10px;
}


.right-side .chat-icon {
  margin-left: 10px;
}

.chat-submit {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.chat-time {
  font-size: 12px;
}

.empty {
  h3 {
    font-weight: bold;
    position: relative;
    margin-bottom: 2em;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background: #FFFFAA;
  }
  
  h3:before,
  h3:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    background: #FFFFAA;
  }
  
  h3:before {
    right: 30px;
    bottom: -15px;
    width: 30px;
    height: 30px;
  }
  
  h3:after {
    right: 50px;
    bottom: -30px;
    width: 15px;
    height: 15px;
  }
}
.empty {
  margin-top: 30px;
}
.empty h3 {
  font-weight: bold;
  font-size: 35px;
}
.empty img {
  display: inline-block;
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
h2 {
  font-weight: bold;
  position: relative;
  margin-bottom: 1em;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background: #F8F8FF;
}