// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.size {
  color: red;
}
.media {
  margin-top: 20px;
}
.post-submit {
  display: inline-block;
  margin-top: 40px;
}
.timeline-page a {
  display: inline-block;
  margin-top: 40px;
}