// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.profile-icon {
  width: 400px;
  height: 400px;
  text-align: center;
  object-fit: cover;
}
