// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// mypage user#show
.icon img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  text-align: center;
}

.mypage {
  background-color: #CCCCCC;
  width: 100%;
}

.profile-icon {
  margin: 0 auto;
  
}
.profile-icon img {
  display: inline-block;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  background: #fff;
  margin-top: 30px;
}
.card-title {
  margin-top: 40px;
}

.profile-text {
  height: 150px;
}

.edt {
  color: #000;
  opacity: 0.7;
}
.edt:hover {
  color: #008800;
}
.mypage-tool {
  display: inline-block;
  margin-bottom: 40px;
}
a.btn-malformation {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  font-size: 2rem;

  padding: 3rem 4rem;

  color: #fff;
  border-radius: 100% 80px / 80px 100%;
  background-color: #AAAAAA;
}

a.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
  background-color: #222222;
}


// users#diary

.post-time {
  font-weight: bold;
}

.diary-img {
  border-radius: 10%;
  margin: 0 auto;
}
.diary-img img {
  border-radius: 10%;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .diary-table {
    height: 400px;
 }
}