<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color: white;">
    <a class="navbar-brand" href="/"><img src="/assets/white3.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        
        <div class="signup">
        <li class="nav-item"><button type="button" class="btn btn-block btn-outline-secondary btn-sm"><a href="#" class="nav-link" style="font-color: white">新規登録</a></button></li>
        </div>
        <div class="login">
        <li class="nav-item"><button type="button" class="btn btn-block btn-outline-secondary btn-sm"><a href="#" class="nav-link" style="font-color: white">ログイン</a></button></li>
        </div>
      </ul>
    </div>
  </nav>
</header>

<
          